
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    background-color: #111;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    margin: 0%;
}

.background-banner{
    width: inherit;
    height: inherit;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-color: #000;
    animation: image 15s infinite alternate;
}
@keyframes image {
    0% {
      background-image: url("/img/banner-1.jpg");
    }
    50% {
        background-image: url("/img/banner-2.jpg");
    }
    100% {
      background-image: url("/img/banner-3.jpg");
    }
  }




.horizontal {
    width: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.vertical {
    margin-bottom:0%;
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.logo{
    width: 100%;
    padding-left: 5vw;
    padding-top: 4vw;


}

.logo img{
    width: 13vw;

}

.info{
    position: relative;
    margin: 4vw 4vw 0vw 4vw;
    width: 50%;
    padding: 1vws;
    overflow: hidden;
    background: linear-gradient(-45deg, #fff,#000,#fff,#000, #fff, #000,#fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(223, 170, 170, 0.555);
    position: relative;
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    50%{
        background-position: 500%;

    }
    75%{
        background-position:-500%;
    }
    100% {
      background-position: 500%;
    }
  }

.info h1{
    font-size: 5vw;
    font-weight: 500;
    
}


.buttonn a {
    margin-left: 5vw;
    position: relative;
    display: inline-block;
    padding: 1vw 2vw 1vw 2vw;
    color: white;
    font-size: 1.1vw;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 1vw;
    margin-bottom: 2vw;
    letter-spacing: 0.4vw;
  }
  
  .buttonn a:hover {
    background: #faf8f8;
    color: rgb(26, 21, 21);
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,        
                0 0 20px #ffffff;
  }
  
  .buttonn a span {
    position: absolute;
    display: block;
  }
  
  .buttonn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 2s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .buttonn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .50s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .buttonn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: btn-anim3 2s linear infinite;
    animation-delay: .99s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .buttonn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

marquee {
    width: 100%;
}

.setas{
    text-align: center;

    position: relative;
    animation: opacity 1s infinite alternate;
    transition-duration: 20s;
}

@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    100% {
        opacity: 1;
      }
  }

.setas img{
    width: 7vw;
}
.setas .seta-1{
    margin-bottom: -2vw;
    
}

.box-serviços{
    text-align: center;
    padding-top: 2vw;
    background: #111;

}

.box-serviços .box {
    display: inline-block;
    margin: 1vw;
    
}

.info2{
    width: 100%;
    padding-top: 3vw;
    overflow: hidden;
    background: linear-gradient(-45deg, #fff,#000,#fff,#000, #fff, #000,#fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(223, 170, 170, 0.555);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    50%{
        background-position: 500%;

    }
    75%{
        background-position:-500%;
    }
    100% {
      background-position: 500%;
    }
  }

.video {
    width: 100%;
    height: 40vw;
    text-align: center;
    padding: 2vw;
    margin-bottom: 5vw;
    background-color: #111;
}


.info2 h2{
    margin: 1vw;
    font-size: 5vw;
}

.elipse-1 {
    width: 45%;
    position: absolute;
    margin-top: -20vw;
    left: 0%;
    animation: opacity 3s infinite alternate;
}
.elipse-1 img{
    width: 100%;
    position: relative;

}

.video iframe{
    box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
    width: 50vw;
    height: 75%; 
    margin: 2vw 2vw;   
}

.elipse-2 {
    width: 45%;
    position: absolute;
    margin-top: -10vw;
    right: 0%;
    animation: opacity 3.5s infinite alternate;
}
.elipse-2 img{
    width: 100%;
    position: relative;

}

.sobre {
    background-color: #111;
  
}

.sobre img{
    width: 100%;   
}

.sobre h2{
    font-size: 5vw;
    text-align: center;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;   
}

.sobre p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 36px;
    text-align: justify;
    color: #FFFFFF;
}




  
/*-------------------------------responsividade-----------------------------------*/

@media screen and (max-width: 1000px){

    .logo img{
        width: 30vw;
    }
    .info {
        width: 100%;
    }
    .info h1{
        margin: 9vw 9vw 9vw 1vw;
        font-size: 9vw;
        font-weight: 500;
    }

    .buttonn a{
        font-size: 5vw;
        
    }

    .setas img{
        width: 12vw;
    }
    
    .info2 h2{
        margin: 1vw;
        font-size: 10vw;
        font-weight: 500;
    }
    .video {
        width: 100%;
        height: 50vh;

    }
    .video iframe{
        box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
        width: 100%;
        height: 100%;      
    }
    .sobre {
        background-color: #111;
        padding-top: 26vw;
    }
    .sobre h2{
        margin: 1vw;
        font-size: 10vw;
    }
        
    .sobre p {
        font-size: 4vw;
        line-height: 6vw;
       
    }

}

@media screen and (max-width: 780px){


    .background-banner{
        width: inherit;
        height: inherit;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #000;
        animation: image 15s infinite alternate;

    }

    .vertical {
        width: inherit;
        height: inherit;
        background: linear-gradient(to top, #111 10%, transparent 90%);
    }

    .logo{
        width: 100%;
        padding-left: 5vw;
    }
      
    .logo img{
        width: 30vw;
    }
    .info {
        width: 100%;
    }
    .info h1{
        margin: 9vw 9vw 9vw 1vw;
        font-size: 9vw;
        font-weight: 500;
    }

    .buttonn a{
        font-size: 5vw;
    }

    .setas img{
        width: 12vw;
    }

    .box-serviços {
        background-color: #111;
        text-align: center;
        padding-top: 10vw;
    }
    .box-serviços .box{
        display: inline-block;
    }

    .info2 h2{
        margin: 4vw 1vw;
        font-size: 8vw;
        font-weight: 500;
    }
    .video {
        height: 30vh;
    }
    .video iframe{
        box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
        width: 100%;
   
    }
    .sobre {
        margin:0%;
    }
    .sobre h2{
        margin: 4vw 1vw;
        font-size: 10vw;
    }
    
    .sobre p {
        font-size: 4vw;
        line-height: 6vw;
       
    }
}