
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    background-color: #111;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    margin: 0%;
}

.background-banner{
    width: inherit;
    height: inherit;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-color: #000;
    animation: image 15s infinite alternate;
    transition: 20s;
}
@keyframes image {
    0% {
      background-image: url("/img/projeto-6/FOTO-1.jpg");
    }
    50% {
        background-image: url("/img/banner-2.jpg");
    }
    100% {
      background-image: url("/img/banner-3.jpg");
    }
  }




.horizontal {
    width: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.vertical {
    margin-bottom:0%;
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.logo{
    width: 100%;
    padding-left: 5vw;
    padding-top: 4vw;
}

.logo img{
    width: 13vw;

}

.info{
    position: relative;
    margin: 0vw;
    padding-left: 5vw;
    width: 50%;
    padding: 1vws;
    overflow: hidden;
    background: linear-gradient(-45deg, #fff,#000,#fff,#000, #fff, #000,#fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(223, 170, 170, 0.555);
    position: relative;
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    50%{
        background-position: 500%;

    }
    75%{
        background-position:-500%;
    }
    100% {
      background-position: 500%;
    }
  }

.info h1{
    font-size: 5vw;
    font-weight: 500;
}


.buttonn a {
    margin-left: 5vw;
    position: relative;
    display: inline-block;
    padding: 1vw 2vw 1vw 2vw;
    color: white;
    font-size: 1.1vw;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 1vw;
    margin-bottom: 2vw;
    letter-spacing: 0.4vw;
  }
  
  .buttonn a:hover {
    background: #faf8f8;
    color: rgb(26, 21, 21);
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,        
                0 0 20px #ffffff;
  }
  
  .buttonn a span {
    position: absolute;
    display: block;
  }
  
  .buttonn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 2s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .buttonn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .50s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .buttonn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: btn-anim3 2s linear infinite;
    animation-delay: .99s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .buttonn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

marquee {
    width: 100%;
}

.setas{
    text-align: center;

    position: relative;
    animation: opacity 1s infinite alternate;
    transition-duration: 20s;
}

@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    100% {
        opacity: 1;
      }
  }

.setas img{
    width: 7vw;
}
.setas .seta-1{
    margin-bottom: -2vw;
    
}

.box-serviços{
    text-align: center;
    padding-top: 2vw;
    background: #111;

}

.box-serviços .box {
    display: inline-block;
    margin: 1vw;
    
}

.info2{
    width: 100%;
    padding-top: 3vw;
    overflow: hidden;
    background: linear-gradient(-45deg, #fff,#000,#fff,#000, #fff, #000,#fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(223, 170, 170, 0.555);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    50%{
        background-position: 500%;

    }
    75%{
        background-position:-500%;
    }
    100% {
      background-position: 500%;
    }
  }

.video {
    width: 100%;
    height: 40vw;
    text-align: center;
    padding: 2vw;
    margin-bottom: 5vw;
    background-color: #111;
}


.info2 h2{
    margin: 1vw;
    font-size: 5vw;
}

.elipse-1 {
    width: 45%;
    position: absolute;
    margin-top: -20vw;
    left: 0%;
    animation: opacity 1.5s infinite alternate-reverse;
}
.elipse-1 img{
    width: 100%;
    position: relative;

}

.video iframe{
    box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
    width: 50vw;
    height: 75%; 
  
}

.elipse-2 {
    width: 45%;
    position: absolute;
    margin-top: -10vw;
    right: 0%;
    animation: opacity 1.5s infinite alternate;
}
.elipse-2 img{
    width: 100%;
    position: relative;

}

.sobre {
    background-color: #111;
  
}

.sobre img{
    width: 100%;   
}

.sobre h2{
    font-size: 5vw;
    text-align: center;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;   
}

.sobre p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 36px;
    text-align: justify;
    color: #FFFFFF;
}

.projects{
    position: relative;
    width: 100%;
    text-align: center;
}

.projects h3{
    margin-top: 5vw;
    font-size: 5vw;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;  
}
.projects .project-1{
    display: inline-block;
}

.projects .project-1 a{
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 30vw;
    margin: 1vw;
    box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808; 
    transition: .2s all ease-in;  
}
.projects .project-1 a:hover{
    box-shadow: 0.1vw 0.1vw 0.5vw 0.3vw #e70808;   
    
}

.projects .project-1 img{
    display: inline-block;
    width: inherit;    
}

.projects .project-1 p{
    color: white;
    opacity: 0;
    transition: .5s;
    font-size: 1.5vw;
    position: absolute;
    top: 0%;
    padding-top: 30%;
    width: 100%;
    height: 100%;
    bottom: unset;
    background-color: rgba(24, 23, 23, 0.671);
}
.projects .project-1 p:hover{
    opacity: .9;
}
.projects .ver-mais a{
    font-size: 2vw;
    text-decoration: none;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}
.projects .ver-mais h4{
    font-size: 2vw;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
}
.projects .ver-mais h5{
    font-size: 2vw;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
    transition: 0.2s;
    opacity: 0;
}
.projects .ver-mais a:hover h5{
    opacity: 8;
}

.midia marquee{
    position: absolute;

}


.midia marquee img{
    width: 40vw;
    animation: opacity 1s infinite alternate;
    transition-duration: 20s;
}

@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    50% {
        opacity: 1;
      }
  }


  .midia marquee a{
    animation: opacity 10s infinite alternate-reverse;
    transition-duration: 20s;
}

.midia{
    margin-top: 10vw;
}
  
.midia .midia-celular,
.midia .midia-info {
    display: inline-block;
}

.midia .instagram-1{
    position: absolute;
    animation: trasform 2s infinite alternate-reverse;
}
@keyframes trasform {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(42px);
    }
}

.midia .instagram-1 img{
    width: 8vw;
    margin-left: 5vw;
}

.midia .instagram-2{
    position: absolute;
    z-index: 3;
    animation: trasform 1s infinite alternate-reverse;
}
@keyframes trasform {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(42px);
    }
}

.midia .instagram-2 img{
    width: 15vw;
    margin-top: 19vw;
}

.midia .instagram-3{
    position: absolute;
    z-index: 1;
    animation: trasform 3s infinite alternate-reverse;
    
}
@keyframes trasform {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(42px);
    }
}

.midia .instagram-3 img{
    width: 10vw;
    margin-top: 8vw;
    margin-left: 22vw;
    animation: rotate 3s infinite alternate-reverse;

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
}

.midia .instagram-4{
    position: absolute;
    z-index: 3;
    animation: trasform 2s infinite alternate-reverse;
}
@keyframes trasform {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}

.midia .instagram-4 img{
    width: 8vw;
    margin-top: 30vw;
    margin-left: 25vw;
    animation: rotate 3s infinite alternate-reverse;

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(200deg);
    }
}

.midia-celular{
    z-index: 2;
    position: relative;
}

.midia .midia-celular img {
    width: 50vw;
}


.midia-info{
    width: 40vw;
    text-align: center;
    line-height: 7vw;
}

.midia .midia-info p{
    font-size: 6vw;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contato {
    margin-top: 7vw;
    text-align: center;
}

.contato .linha {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 4vw;
}
.contato .linha img{
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: opacity 1s infinite alternate;
    transition-duration: 20s;
}

@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    50% {
        opacity: 1;
      }
  }

.contato h3{
    font-size: 5vw;
    background: linear-gradient(109.92deg, #FFFFFF 36.7%, rgba(255, 255, 255, 0.5) 76.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contato .box2 a{
    margin-left: 0%;
}

footer {
    width: 100%;
    height: 50vh;
}
footer .background-image {
    position: absolute;
    background-image: url("/img/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height:inherit;
    text-align: center;
}


footer .nome-criador a{
    text-decoration: none;
}

footer .nome-criador p{
    position: absolute;
    bottom: 0%;
    left: 25%;
    right: 25%;
    font-size: 1vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.521);
}

footer .background-image .logo-footer {
    padding-top: 5vw;
}
footer .background-image .logo-footer img{
    width: 15vw;
}

footer .background-image .up {
    position: absolute;
    right: 1vw;
}
footer .background-image .up img {
    width: 5vw;
}



  
/*-------------------------------responsividade-----------------------------------*/

@media screen and (max-width: 1000px){

    .background-banner{
        width: inherit;
        height: inherit;
        background-size: 130% 90%;
        background-repeat: no-repeat;
        background-color: #000;
        animation: image 15s infinite alternate;

    }

    .logo img{
        width: 30vw;
    }
    .info {
        width: 100%;
    }
    .info h1{
        margin: 9vw 9vw 9vw 1vw;
        font-size: 9vw;
        font-weight: 500;
    }

    .buttonn a{
        font-size: 5vw;
        
    }

    .setas img{
        width: 12vw;
    }
    
    .info2 h2{
        margin: 1vw;
        font-size: 10vw;
        font-weight: 500;
    }
    .video {
        width: 100%;
        height: 50vh;

    }
    .video iframe{
        box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
        width: 100%;
        height: 100%;      
    }

    .elipse-1 {
        width: 80%;
    }
    .elipse-2    {
        width: 80%;
    }
    .sobre {
        background-color: #111;
        padding-top: 26vw;
    }
    .sobre h2{
        margin: 1vw;
        font-size: 10vw;
    }
        
    .sobre p {
        font-size: 4vw;
        line-height: 6vw;
       
    }
    .projects h3{
       font-size: 10vw;
       margin-top: 8vw;
    }
    .projects .project-1{
        display: block;
        margin: 0%;
        width: 100%;
        padding: 1vw;
    }
    
    .projects .project-1 a{
        width: 100%;
        margin: 0%;
    }
    .projects .project-1 p{
        color: white;
        opacity: .9;
        transition: .5s;
        font-size: 6vw;
        position: absolute;
        top: 0%;
        padding-top: 30%;
        width: 100%;
        height: 100%;
        bottom: unset;
        background-color: rgba(24, 23, 23, 0.671);
    }

    .projects .ver-mais h4{
        margin-top: 5vw;
        font-size: 10vw;

    }
    .projects .ver-mais h5{
        font-size: 10vw;
        animation: animati 1s infinite alternate;

    }
    @keyframes animati {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 9;
        }
    }

    .midia {
        text-align: center;
        width: 100%;
    }

    .midia .midia-celular{
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .midia .midia-celular img{
        width: 130%;
        overflow: hidden;
        
        
    }
    .midia .midia-info p{
        width: 100%;
    }

    .midia .midia-celular,
    .midia .midia-info {
    text-align: center;
    width: 100%;
    }

    .midia .instagram-1 img{
        width: 20vw;
        margin-left: 5vw;
    }
    .midia .instagram-2 img{
        width: 40vw;
        margin-top:60vw;
        margin-left: 5vw;
    
    }
    .midia .instagram-3 img{
        width: 30vw;
        margin-left: 60vw;
    }

    .midia .instagram-4 img{
        width: 25vw;
        margin-top: 70vw;
        margin-left: 65vw;

    }
    .midia .midia-info p{
        font-size: 9vw;
        line-height: 15vw;
    }

    .contato h3{
        font-size: 9vw;

    }

    footer .nome-criador p{
        font-size: 4vw;
        left: auto;
        right: auto;
    }

    footer .background-image .up img {
        width: 20vw;
    }

    footer .background-image .logo-footer img{
        width: 40vw;
    }


}


@media screen and (max-width: 780px){


    .background-banner{
        width: inherit;
        height: inherit;
        background-size: 130% 90%;
        background-repeat: no-repeat;
        background-color: #000;
        animation: image 15s infinite alternate;

    }

    .vertical {
        width: inherit;
        height: inherit;
        background: linear-gradient(to top, #111 10%, transparent 90%);
    }

    .logo{
        width: 100%;
        padding-left: 5vw;
        padding-top: 19vw;
    }
      
    .logo img{
        width: 50vw;
    }
    .info {
        width: 100%;
    }
    .info h1{
        margin: 9vw 0vw 9vw 1vw;
        font-size: 10.8vw;
        font-weight: 500;
    }

    .buttonn a{
        font-size: 7vw;
        padding: 2vw;
    }

    .setas img{
        width: 12vw;
    }

    .box-serviços {
        background-color: #111;
        text-align: center;
        padding-top: 10vw;
    }
    .box-serviços .box{
        display: inline-block;
    }

    .info2 h2{
        margin: 4vw 1vw;
        font-size: 8vw;
        font-weight: 500;
    }


    .elipse-1 {
        width: 80%;

    }
    .elipse-2 {
        width: 80%;

    }
    .video {
        height: 30vh;
    }
    .video iframe{
        box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw #e70808;
        width: 100%;
   
    }
    .sobre {
        margin:0%;
    }
    .sobre h2{
        margin: 4vw 1vw;
        font-size: 10vw;
    }
    
    .sobre p {
        font-size: 4vw;
        line-height: 6vw;
       
    }
}